.background{
  background: url('media/black.jpg')
  center center fixed;background-size: cover;
  max-width: 1000px;
  margin: auto;
  /* background-color: rgba(0, 0, 0, .5); */
  display: block;
  padding: 15px;
}

*{
  color: white;
  font-family: 'Playfair Display', serif;

}

h1{
  font-size: 90px;
  margin-top: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 2px;
  text-align: center;

}

h2{
  margin-top: 0px;
  text-align: center;
}
